@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,200&display=swap');

body{
  background-color: #fcf8ec;
  font-family: "Montserrat";
  padding: 10%;
}

h1 {
  color: #456268;
  text-align: center;
}

h2, h3 {
  color: #79a3b1;
  text-align: center;
}

i {
  color: #79a3b1;
  text-align: center;
}



a {
  text-decoration: none;
}

p {
  color: #456268;
  text-align: left;
}

li {
  list-style: none;
  color: #456268;
  text-align: left;
}

div {
  margin: 50px;
  padding: 50px;
  border-radius: 16px;
}

.card {
  margin: 50px 0px;
  padding: 50px;
  border-radius: 76px;
  background-color: white;
  
}

.card:hover{
  box-shadow: 11px 13px 0px rgb(0 0 0 / 10%);
}

.center{
  text-align: center;
}

.btn{
  background-color: #456268;
  color: white;
  padding: 6px 12px;
  border-radius: 14px;
  cursor: pointer;
  font-size: 20px;
  display: inline-block;
}

.btn:hover{
  background-color: #79a3b1;
}

.description{
  color: #79a3b1; 
  font-style: italic;
  text-align: center;
}